.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: .4s
}

/* Modal Content */
.modal-content {
    padding: 30px 30px;
    margin-bottom: 0;
    text-align: left;
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    animation-name: slideIn;
    animation-duration: .4s
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}