* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
}

.controls {
    margin-top: 10px;
    text-align: center;
}

.btn {
    color: #ffffff;
    background-color: blue;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 70px;
    padding: 10px 0;
    font-size: 15px;
    margin: 0 0.5em;
    cursor: pointer;
}

.btn:hover {
    color: #bbbbbb;
    background-color: #3211AB;
}

.stopwatch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 50vh;
    font-size: 40px;
    font-weight: bold;
    color: red;
}
