@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.navbar-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: rgba(73, 71, 63, 0.6);
    padding-top: 25px;
    padding-bottom: 28px;
}

.navbar-logo {
    display: flex;
}

.menu-top-item {
    display: inline-block;
}

.menu-top-link {
    padding-right: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
}

.menu-top-link:hover {
    color: #18cfab;
}

/*
Sliding search box
*/

.navbar-search {
    outline: none;
    box-sizing: content-box;
    border-radius: 10em;
    border: solid 1px transparent;
    /*background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;*/
    background: url(../img/100-section-weAreCreative/search-icon-png-2.png) no-repeat 9px center;
    background-size: 17px 17px;
    background-color: #b8b8b8;
    padding: 9px;
    width: 15px;
    color: transparent;
    cursor: pointer;
    transition: all .5s;
}

.navbar-search:focus {
    width: 130px;
    background-color: #fff;
    border-color: #18cfab;
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    padding-left: 32px;
    color: #4e4e4e;
    cursor: auto;
}

.navbar-search:-moz-placeholder {
    color: transparent;
}

.navbar-search::-webkit-input-placeholder {
    color: transparent;
}

.navbar-search-item {
    /*float: right;*/
    position: absolute;
    color: #b8b8b8;
    font-size: 20px;
    text-decoration: none;
}

.navbar-search-item:hover {
    color: #18cfab;
}

.navbar-logo-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    outline: none;
}

.navbar-logo-img {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 46%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.navbar-logo-polygon {
    position: relative;
}

.navbar-logo-text {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 31.96px;
    font-weight: normal;
    padding-left: 8px;
    text-transform: lowercase;
}

.navbar-logo-text-green {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 31.96px;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
}

.section-we-are {
    text-align: center;
    background-image: url("../img/100-section-weAreCreative/section-weAreCreative-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-we-are-header {
    padding-top: 246px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.green {
    color: #18cfab;
}

.section-we-are-slogan {
    padding-top: 45px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 79px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.section-we-are-description {
    padding-top: 37px;
    font-family: 'Montserrat', sans-serif;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
}

.section-we-are-btn {
    margin-top: 146px;
    margin-bottom: 244px;
}

.section-four-rectangular {
    display: flex;
    width: 100vw;
}

.section-four-rectangular-item {
    display: flex;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.section-four-rectangular-item-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-four-rectangular-item-icon {
    font-size: 50px;
    margin-bottom: 30px;
}

.section-four-rectangular-item:nth-child(2n+1) {
    color: #18cfab;
    background-color: #1c2a33;;
    border-top: 7px solid #18cfab;
}

.section-four-rectangular-item:nth-child(2n) {
    color: #ffffff;
    background-color: #18cfab;
    border-top: 7px solid #ffffff;
}

.section-services {
    padding-top: 82px;
    padding-bottom: 101px;
    text-align: center;
    background-color: #ffffff;
}

.section-header {
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
}

.section-header-white {
    color: #ffffff;
}

.section-under-header-line {
    border: none;
    background-color: #18cfab;
    color: #18cfab;
    width: 76px;
    height: 1px;
    font-size: 0;
    text-align: center;
}

.section-under-header-line-first {
    margin-top: 37px;
    margin-bottom: 0;
}

.section-under-header-line-first-container {
    margin-right: 10px;
}

.section-under-header-line-second {
    margin-top: 3px;
    margin-bottom: 0;
}

.section-under-header-line-second-container {
    margin-left: 10px;
}

.section-services-menu {
    margin-top: 70px;
    margin-bottom: 25px;
    font-size: 0;
    /*text-align: center;*/
}

.section-services-menu-btn {
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 15.98px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #d8d8d8;
    outline: none;
    width: 185px;
    padding-top: 24px;
    padding-bottom: 20px;
    background-color: #f8fcfe;
    cursor: pointer;
}

/* Add green color and green top border on mouse-over */
.section-services-menu-btn:hover {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

/* Add green color and green top border to the active button */
.section-services-menu-btn:active {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.section-services-content {
    display: flex;
}

.section-services-content-img {
    margin-right: 20px;
}

.section-services-content-text {
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 13.64px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
}

.section-everything {
    background-color: #000000;
    padding-top: 128px;
    padding-bottom: 127px;
}

.section-everything-content {
    text-align: center;
}

.section-everything-content-title {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.section-everything-content-description {
    font-family: 'Montserrat', sans-serif;
    color: #d8d8d8;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 80px;
}

.section-work {
    padding-top: 97px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #f8fcfe;

}

.section-work-menu {
    margin-top: 70px;
    margin-bottom: 71px;
    font-size: 0;
}

.section-work-menu-btn {
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 14px;
    font-weight: normal;
    line-height: 42px;
    text-align: center;
    border: 1px solid #d8d8d8;
    outline: none;
    padding: 24px 29px 20px;
    background-color: #ffffff;
    cursor: pointer;
}

/* Add green color and green top border on mouse-over */
.section-work-menu-btn:hover {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

/* Add green color and green top border to the active button */
.section-work-menu-btn.active {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.section-work-grid-row {
    /*margin: 8px -16px;*/

}

.section-work-grid-column {
    float: left;
    width: 25%;
    display: none; /* Hide columns by default */
    border: none;
    outline: none;
}

/* Clear floats after rows */
.section-work-grid-row:after {
    content: "";
    display: table;
    clear: both;
}

/* The "show" class is added to the filtered elements */
.section-work-grid-elements-filtered-show {
    display: block;
}

.section-work-grid-element-img {
    width: 100%;
}

.section-news {
    padding-top: 84px;
    padding-bottom: 132px;
    text-align: center;
    background-color: #ffffff;
}

.section-about {
    padding-top: 100px;
    padding-bottom: 101px;
    text-align: center;
    background-color: #001a22;
    background-image: url("../img/700-section-aboutHam/Transperent BG.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/* carusel BEGIN */

/* Main carousel style */
.carousel {
    width: 600px;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}

/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}

/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}

/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

/* carusel END */

.section-gallery {
    padding-top: 98px;
    padding-bottom: 81px;
    text-align: center;
}

.footer {
    padding-top: 47px;
    padding-bottom: 47px;
    background-color: #22353f;
    text-align: center;
}

.footer-content {
    font-family: 'Montserrat', sans-serif;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}

.footer-content-theHam {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    text-decoration: none;
}

.footer-content-theHam:hover {
    text-decoration: underline;
}

.btn-section {
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    line-height: 31px;
    text-align: center;
    border-radius: 4px;
    border-top: 4px solid #ffffff;
    width: 165px;
    height: 61px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-section-green {
    background-color: #18cfab;
}

.btn-section-blue {
    background-color: #00cbf6;
}
